
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">

<h2>Employee</h2>

<div class="row">
    <form id="frmEmployee">
        <input class="form-control" type="hidden" id="employeeId" name="employeeId" placeholder="" />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">First Name <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" />
                    <label class="error" for="firstName" id="firstName_error" style="color:red; font-size:small;">Enter First Name.</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">Last Name <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" id="lastName" name="lastName" placeholder="First Name" />
                    <label class="error" for="lastName" id="lastName_error" style="color:red; font-size:small;">Enter Last Name.</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">Gender <span style="color:red;">*</span></label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="gender" name="gender">Male
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="gender" name="gender">Female
                        </label>
                    </div>

                    <label class="error" for="gender" id="gender_error" style="color:red; font-size:small;">Select Gender.</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">Date of Birth <span style="color:red;">*</span></label>
                    <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Birth Date" />
                    <label class="error" for="dateOfBirth" id="dateOfBirth_error" style="color:red; font-size:small;">Select Date.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">Department<span style="color:red;">*</span></label>
                    @Html.DropDownList("departmentId", new SelectList(ViewBag.Department, "departmentId", "demartmentName"), "Select", new { @id = "departmentId", @class = "form-control", @tabindex = "5" })
                    <label class="error" for="Employee_Department" id="EmployeeDepartment_error" style="color:red; font-size:small;">Select Employee Department.</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="form-field-11">Profile Photo</label>
                    <div style="border: 1px solid #d1d3e2; width: 7.7rem;">
                        <img id="imagePreview" src="~/Images/defaultAvtar.png" width="120" height="150" />
                        <input tabindex="0" type="file" name="profilephoto" id="profilephoto" style="font-size: 8px;" onchange="ShowImagePreview(this)">
                    </div>
                </div>
            </div>

            <div class="col-sm-2" id="StatusActive">
                <div class="form-group">
                    <label for="isActive">Status</label>
                    <div style="border: 1px solid #d1d3e2; border-radius: .35rem; padding-top: 10px; padding-left: 15px;">
                        <label><input type="checkbox" id="isActive">&nbsp;&nbsp; Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">

                    <button class="btn btn-sm btn-danger" onclick="ClearTextBox();">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-sm btn-info" id="Submit" onclick="submitEmployee();">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%">
                        <thead class="bg-gradient-success text-white">
                            <tr>
                                <th style="width: 200px !important;">Action</th>
                                <th hidden>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>DateOfBirth</th>
                                <th>Department</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Employee)
                            {
                                <tr>
                                    <td>
                                        <button class="btn btn-circle btn-info btn-sm" onclick="editEmployee(@item.employeeId)" title="Edit Service">Edit</button>
                                        <button class="btn btn-circle btn-danger btn-sm" onclick="deltEmployee(@item.employeeId)" title="Deactive Service">Delete</button>
                                    </td>

                                    <td hidden>@item.employeeId</td>
                                    <td>@item.firstName</td>
                                    <td>@item.lastName</td>
                                    <td>@item.gender</td>
                                    <td>@item.dateOfBirth</td>
                                    <td>@item.departmentId</td>
                                    <td>@item.status</td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
    $('.error').hide();
    $('#StatusActive').hide();
    $('#dataTable').DataTable();

    function loadTable() {
        location.reload(true);
    }
    function ClearTextBox() {
        $('#employeeId').val("");
        $('#firstName').val("");
        $('#lastName').val("");
        $('#dateOfBirth').val("");
        $('#departmentId').val("");
        $("#imagePreview").attr("src", "/Images/defaultAvtar.png");
        $("#gender").prop("checked", false);
        $("#isActive").prop("checked", false);
        $("#StatusActive").hide();
    }
    //Image Upload Preview
    function ShowImagePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    //Validation Function
    function ValidationEmployee() {
        var isValid = true;
        if ($('#firstName').val().trim() == "") {
            $('#firstName_error').show();
            $("#firstName_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#firstName_error').hide();
        }
        if ($('#lastName').val().trim() == "") {
            $('#lastName_error').show();
            $("#lastName_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#lastName_error').hide();
        }
        if ($('#dateOfBirth').val().trim() == "") {
            $('#dateOfBirth_error').show();
            $("#dateOfBirth_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#dateOfBirth_error').hide();
        }
        //if ($('#gender').val()== "") {
        //    $('#gender_error').show();
        //    $("#gender_error").fadeOut(2000);
        //    isValid = false;
        //}
        //else {
        //    $('#gender_error').hide();
        //}

        if ($('#departmentId').val().trim() == "") {
            $('#departmentId_error').show();
            $("#departmentId_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#departmentId_error').hide();
        }
        return isValid;
    }

    function submitEmployee() {
        var res = ValidationEmployee();
        if (res == false) {
            return false;
        }
        var Status = "";
        if ($("#isActive").prop("checked") == true) { Status = "Active" } else { Status = "Deactive" }
        var employee = $('#frmEmployee').serialize();
        employee = employee + "&status=" + Status;
        console.log(employee);
        $.post("/Employee/EmployeeCreation", employee, function (result) {
            //loadTable();
            if (result == "Save Success") {
                //  toastr.success('Save Data Successfully.');
            } else {
                // toastr.info('Update Data Successfully.');
            }
            setTimeout(function () {
                loadTable()
            }, 2000);
        })

    }
    function editEmployee(id) {
        var id = { id: id };
        $.get("/Employee/EmployeeEdit", id, function (result) {
            console.log(result);
            $('#employeeId').val(result.employeeId);
            $('#firstName').val(result.firstName);
            $('#lastName').val(result.lastName);
            // $('#gender').val(result.gender);
            $('#dateOfBirth').val(result.dateOfBirth);
            $('#departmentId').val(result.departmentId);
            $("#StatusActive").show();
            if (result.status == true)
                $("#isActive").prop("checked", true);
        });
    }
    function deltEmployee(id) {
        //var id = { id: id };
        //bootbox.confirm({
        //    titel: 'Confirm message',
        //    message: 'Are you sure you want to Deactive!!..',
        //    button: {
        //        'confirm': {
        //            label: 'Confirm',
        //            className: 'btn-sm btn-info'
        //        },
        //        'cancle': {
        //            label: 'Cancel',
        //            className: 'btn-sm btn-danger'
        //        }
        //    },
        //    callback: function (result) {
        //        if (result == true) {
        var data = { id: id }

        $.get("/Employee/EmployeeDeactive", data, function (result) {
            // toastr.error('Deactive Data Successfully.');
            setTimeout(function () {
                loadTable()
            }, 2000);
        });
        //        }
        //    }

        //})

    }
</script>
