
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">*@
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">


<h2>Department</h2>

<div class="row">
    <form id="frmDepartment">
        <input class="form-control" type="hidden" id="departmentId" name="departmentId" placeholder="" />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="form-field-11">Department Name <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" id="demartmentName" name="demartmentName" placeholder="Department Name" />
                    <label class="error" for="demartmentName" id="DepartmentName_error" style="color:red; font-size:small;">Enter Department Name.</label>
                </div>
            </div>
            <div class="col-sm-2" id="StatusActive">
                <div class="form-group">
                    <label for="isActive">Status</label>
                    <div style="border: 1px solid #d1d3e2; border-radius: .35rem; padding-top: 10px; padding-left: 15px;">
                        <label><input type="checkbox" id="isActive">&nbsp;&nbsp; Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">

                    <button class="btn btn-sm btn-danger" onclick="ClearTextBox();">
                        Cancel
                    </button>
                    <button class="btn btn-sm btn-info" id="Submit" onclick="submitDepartment();">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="dataTable" width="100%">
                        <thead class="bg-gradient-success text-white">
                            <tr>
                                <th style="width: 200px !important;">Action</th>
                                <th hidden>ID</th>
                                <th>Department Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.LstDpart)
                            {
                                <tr>
                                    <td>
                                        <button class="btn btn-circle btn-info btn-sm" onclick="editDepartment(@item.departmentId)" title="Edit Service">Edit</button>
                                        <button class="btn btn-circle btn-danger btn-sm" onclick="deltDepartment(@item.departmentId)" title="Deactive Service">Delete</button>
                                    </td>

                                    <td hidden>@item.departmentId</td>
                                    <td>@item.demartmentName</td>
                                    <td>@item.status</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('.error').hide();
    $('#StatusActive').hide();
    $('#dataTable').DataTable();

    function loadTable() {
        location.reload(true);
    }

    function ClearTextBox() {
        $('#departmentId').val("");
        $('#demartmentName').val("");
        $("#isActive").prop("checked", false);
        $("#StatusActive").hide();
    }
    //Validation Function
    function ValidationDepartment() {
        var isValid = true;
        if ($('#demartmentName').val().trim() == "") {
            $('#DepartmentName_error').show();
            $("#DepartmentName_error").fadeOut(2000);
            isValid = false;
        }
        else {
            $('#DepartmentName_error').hide();
        }
        return isValid;
    }
    function submitDepartment() {
        var res = ValidationDepartment();
        if (res == false) {
            return false;
        }
        var Status = "";
        if ($("#isActive").prop("checked") == true) { Status = "Active" } else { Status = "Deactive" }
        var deprtment = $('#frmDepartment').serialize();
        deprtment = deprtment + "&status=" + Status;
        console.log(deprtment);
        $.post("/Department/DepartmentCreation", deprtment, function (result) {
            //loadTable();
            if (result == "Save Success") {
                //toastr.success('Save Data Successfully.');
            } else {
                // toastr.info('Update Data Successfully.');
            }
            setTimeout(function () {
                loadTable()
            }, 2000);
        })

    }
    function editDepartment(id) {
        var id = { id: id };
        $.get("/Department/DepartmentEdit", id, function (result) {
            console.log(result);
            $('#departmentId').val(result.departmentId);
            $('#demartmentName').val(result.demartmentName);
            $("#StatusActive").show();
            if (result.status == true)
                $("#isActive").prop("checked", true);
        });
    }
    function deltDepartment(id) {
        //var id = { id: id };
        //bootbox.confirm({
        //    titel: 'Confirm message',
        //    message: 'Are you sure you want to Deactive!!..',
        //    button: {
        //        'confirm': {
        //            label: 'Confirm',
        //            className: 'btn-sm btn-info'
        //        },
        //        'cancle': {
        //            label: 'Cancel',
        //            className: 'btn-sm btn-danger'
        //        }
        //    },
        //    callback: function (result) {
        //        if (result == true) {
        var data = { id: id }

        $.get("/Department/DepartmentDeactive", data, function (result) {
            //   toastr.error('Deactive Data Successfully.');
            setTimeout(function () {
                loadTable()
            }, 2000);
        });
        //        }
        //    }

        //})

    }
</script>
